POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=SOME-RANDOM-PASS
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=SOME-RANDOM-PASS
DB_DATABASE=keycloak
KEYCLOAK_IMPORT=/tmp/realm.json
KEYCLOAK_HTTP_PORT=8090
KEYCLOAK_HTTPS_PORT=8091